annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.3
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.9.0
Django==4.2.7
django-allauth==65.0.2
django-crispy-forms==2.1
django-environ==0.11.2
django-storages==1.14.2
django-widget-tweaks==1.5.0
dnspython==2.7.0
docopt==0.6.2
email_validator==2.2.0
exceptiongroup==1.2.2
frozendict==2.4.0
google-api-core==2.14.0
google-auth==2.23.4
google-cloud-appengine-logging==1.4.5
google-cloud-audit-log==0.3.0
google-cloud-core==2.3.3
google-cloud-logging==3.11.3
google-cloud-secret-manager==2.16.4
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
grpc-google-iam-v1==0.12.7
grpcio==1.59.3
grpcio-status==1.59.3
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
idna==3.4
importlib_metadata==8.4.0
lxml==5.1.0
multitasking==0.0.11
numpy==1.26.3
oauthlib==3.2.2
openai==1.13.3
opentelemetry-api==1.27.0
packaging==23.2
pandas==2.2.0
peewee==3.17.1
pillow==10.2.0
pipreqs==0.4.13
proto-plus==1.22.3
protobuf==4.25.1
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3.post1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.4.4
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2023.4
urllib3==2.1.0
webencodings==0.5.1
wrapt==1.16.0
yarg==0.1.9
yfinance==0.2.36
zipp==3.20.2
