{% extends 'base.html' %}
{% load todo_extras %}
{% block title %}Add Task{% endblock %}

{% block content %}
    <h1 class="mb-4">Add New Task</h1>
    <form method="post" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title.label_tag }}
            {{ form.title|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description|add_class:"form-control" }}
        </div>
        <div class="mb-3 form-check">
            {{ form.completed|add_class:"form-check-input" }}
            {{ form.completed.label_tag }}
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <table border="1">
        <tr>
            <th>Secret ID</th>
            <th>Value</th>
        </tr>
        {% for secret_id, secret_value in secrets.items %}
            <tr>
                <td>{{ secret_id }}</td>
                <td>{{ secret_value }}</td>
            </tr>
        {% endfor %}
    </table>

    
    <a href="{% url 'todos:task_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
