{% load todo_extras %}

<form method="post" class="mb-3" id="edit-task-form" data-task-id="{{ task_id }}" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ edit_task_form.non_field_errors }}


    <!-- Task Name -->

            <div class="mt-1 mb-1">
                {{ edit_task_form.task_name|add_class:"form-control" }}
                {{ edit_task_form.task_name.errors }}
            </div>


    <!-- Due Date and Reminder Time -->
    <div class="card mb-1">
        <div class="card-body">
            <div class="mb-1 form-date">
                {{ edit_task_form.due_date|add_class:"form-check-input" }}
                {{ edit_task_form.due_date.label_tag }}
                {{ edit_task_form.due_date.errors }}
            </div>
            <hr>

            <div class="mb-1 form-date">
                {{ edit_task_form.reminder_time|add_class:"form-check-input" }}
                {{ edit_task_form.reminder_time.label_tag }}
                {{ edit_task_form.reminder_time.errors }}
            </div>
            <hr>
            <div class="mb-1">
                {{ edit_task_form.recurrence|add_class:"form-select" }}
                {{ edit_task_form.recurrence.errors }}
            </div>

        </div>
    </div>
    <!-- Recurrence and List Name -->
    <div class="card mb-1">
        <div class="card-body">
            <div class="mb-1">
                {{ edit_task_form.list_name|add_class:"form-select" }}
                {{ edit_task_form.list_name.errors }}
            </div>
        </div>
    </div>
    <!-- Task Description -->
    <div class="card mb-1">
        <div class="card-body">
            <div class="mb-1">
                {{ edit_task_form.task_description|add_class:"form-control form-control-sm expandable" }}
                {{ edit_task_form.task_description.errors }}
            </div>
        </div>
    </div>
    <!-- Images Handling -->
    <div class="card mb-1">
        <div class="card-body">
            <ul class="list-group mb-1">
                {% for image in images %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ image.image_url }}" target="_blank">
                            <i class="fas fa-file-image"></i> {{ image.image_name }}
                        </a>
                        <!-- Optionally, add a delete button for each image -->
                    </li>
                {% endfor %}
            </ul>

            <label for="images">Upload Images:</label>
            <input type="file" name="images" id="images" multiple><hr>
        </div>
    </div>



        <!-- Important and Assigned To -->
    <div class="card mb-1">
            <div class="card-body">
                <div class="mb-1">
                    {{ edit_task_form.assigned_to.label_tag }}
                    {{ edit_task_form.assigned_to|add_class:"form-control" }}
                    {{ edit_task_form.assigned_to.errors }}
                </div>
            </div>
        </div>
    <!-- Save Button -->
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Save</button>
    </div>

</form>
