<!-- your_template_name.html
{% extends 'core/base.html' %}
{% block content %}
<h2>Create Task List</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %} -->


{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="form-container panel-shadow">
    <h2 class="form-title">Create Task List</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.list_name.id_for_label }}">List Name</label>
            {{ form.list_name|add_class:"form-control expandable" }}
        </div>
        <div class="form-group">
            <label for="{{ form.list_code.id_for_label }}">List Code</label>
            {{ form.list_code|add_class:"form-control" }}
        </div>
        <div class="form-group checkbox-group">
            <label for="{{ form.special_list.id_for_label }}">
                {{ form.special_list }} Special List
            </label>
        </div>
        <button type="submit" class="btn-submit custom-hover-card">Create List</button>
    </form>
</div>
{% endblock %}