{% extends 'base.html' %}
{% load static %} 
{% load todo_extras %}
{% block title %}To-Do List{% endblock %}

{% block additional_head %}
<meta name="csrf-token" content="{{ csrf_token }}" />
<link href="{% static 'todos/css/todo_style.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<input type="hidden" id="current-list" />
<div id="success-message" style="display: none"></div>

<div class="container-fluid">

  <i class="fas fa-bars" data-bs-toggle="collapse" data-bs-target="#demoCollapse"></i>
  <div class="collapse" id="demoCollapse"></div>
  


  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Hamburger Icon for smaller screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
       aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
      </button>
        
    </nav>

    <!-- Boot strap side bar Start -->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse panel-shadow">
        <!-- Sidebar content -->
        <div class="sidebar-sticky pt-1">
          <ul class="nav flex-column">
              {% for tasklist in task_lists %}
              <li class="nav-item">
                  <a href="#" class="nav-link task-list-item d-flex align-items-center text-dark" data-id="{{ tasklist.id }}">
                      <!-- Use span to wrap icons for better control -->
                      <span class="icon-container me-2">
                          {% if tasklist.special_list %}
                              <i class="fa-solid fa-clipboard-list"></i>  <!-- Special list icon -->
                          {% else %}
                              <i class="fas fa-tasks"></i>  <!-- Default list icon -->
                          {% endif %}
                      </span>
                      <!-- Use span for text to avoid unexpected margins from heading tags -->
                      <span class="text-truncate"> {{ tasklist.list_name }} </span>
                  </a>
                  <!-- Use Bootstrap's border class for horizontal line -->
                  <div class="border-bottom my-2"></div>
              </li>
              {% endfor %}
          </ul>
      </div>
      
      </nav> 
    <!-- Boot strap side bar End -->

    <div id="task-middle-panel" class="col-md-6 col-lg-9">
      <!-- Search and Add Task Section -->
      <div id="searchbar_row" class="sticky-top mt-1">
          <div class="row justify-content-between mb-3">
            <div class="col">
              <input
                class="form-control"
                id="search-task"
                type="text"
                placeholder="Search tasks..."
              />
            </div>
            <!-- Plus icon -->
            <div class="col col-auto">
              <i class="fa fa-plus-circle fa-2x text-primary add-task-btn" aria-hidden="true" style="cursor: pointer;"></i>
            </div>
            <!-- Sort icon -->
            <div class="col col-auto">
             <button class="btn btn-primary dropdown-toggle" type="button" id="sortMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-sort me-2"></i>Sort
            </button>
          
                  <!-- Dropdown menu links go here -->
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item sort-option" href="#" data-sort="due_date">Due Date</a></li>
                    <li><a class="dropdown-item sort-option" href="#" data-sort="important">Important</a></li>
                    <li><a class="dropdown-item sort-option" href="#" data-sort="task_name">Task</a></li>
                  </ul>
            </div> 
        </div>
      </div>
      
        <!-- Task Cards Section -->
        <div id = "tasks-section">
        </div>
    </div>

    <!-- Back button visible only on small screens, outside the task-details-panel -->
    <button id="back-button" class="btn btn-secondary d-none mb-3">
      <i class="fas fa-arrow-left"></i> Back
    </button>

    <div id="task-details-panel" class="col-md-4 bg-light border-left d-none panel-shadow">
       {% comment %} {% include 'todos/edit_task.html' %} {% endcomment %}
    </div>
</div>



    <!-- Task Modal -->
    <div
      class="modal fade"
      id="taskModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="taskModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="taskModalLabel">Add Task</h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form content will be loaded here -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              id="saveTask"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    {% endblock %} 
    {% block script_block %}
    <script>

      $(document).ready(function () {
        console.log("In Document Ready Function");
 
        function updateTasksSection(tasks) {
          var tasksHtml = "";
          tasks.forEach(function (task) {
            //console.log("Task Id in updateTasksSection : " + task.id )
            tasksHtml += `
            <div id="task-${task.id}" class="card custom-hover-card clickable-card mb-1" style="margin-bottom: 10px; box-shadow: 0 1px 2px rgba(0,0,0,0.1);" data-task-id="${task.id}">
              <div class="card-body p-2">
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Mark Complete -->
                    <div class="flex-shrink-0 me-3 complete-task ${task.task_completed ? 'text-danger' : 'text-success'}" data-id="${task.id}">
                      <i id="completeicon-${task.id}" class="fas fa-check fa-lg" style="cursor: pointer;"></i>
                    </div>
                    
                  <!-- Task Info -->
                  <div class="flex-fill task-info-clickable mb-0 ms-3" data-id="${task.id}">
                    <h6 class="card-text ${task.task_completed ? 'strikethrough' : ''}" style="font-size: 0.9rem;">
                      ${task.task_name}
                    </h6>
                    <p class="card-text text-muted mb-0" style="font-size: 0.8rem;">${formatDate(task.due_date)}</p>
                  </div>
                  <!-- Important -->
                  <div class="flex-shrink-0 mark-favorite" data-id="${task.id}">
                    <i id="favorite-icon-${task.id}" class="${task.important ? "fa-sharp fa-solid fa-star" : "fa-sharp fa-regular fa-star"}"></i>
                  </div>
                </div>
              </div>
            </div>`;
          });
          $("#tasks-section").html(tasksHtml); // Insert tasks into the table
        }
        

        function fetchTasks() {
          console.log("In Fetch Tasks function")
          fetch("/todos/get_all_tasks/" )
            .then((response) => response.json())
            .then((data) => {
              updateTasksSection(data.tasks);
            });
        }
        // Initial fetch for all tasks.
        fetchTasks();

        //Live Search Tasks
        $("#search-task").on("keyup", function () {
          var searchTerm = $(this).val();

          $.ajax({
            url: "{% url 'todos:search_tasks' %}", // URL to the Django view
            data: { q: searchTerm },
            dataType: "json",
            success: function (response) {
              console.log("Received Search data:", response);
              updateTasksSection(response.tasks);
              if (response.tasks && Array.isArray(response.tasks)) {
                response.tasks.forEach(function (task) {
                  console.log("Response has tasks and its an arry");
                });
              } else {
                console.error("Tasks is not an array:", response.tasks);
              }
            },
            error: function (xhr, status, error) {
              console.error("Error occurred: " + error);
            },
          });
        });

        // Fetch and display tasks for a specific list
        $(".task-list-item").click(function () {
          var listId = $(this).data("id");
          console.log("list Id : " + listId);
          $("#current-list").data("list-id", listId); // Store the current list ID
          $(".task-list-item").removeClass('highlighted');
          this.classList.add('highlighted');

          $.ajax({
            url: `/todos/get_tasks_by_list/${listId}`,
            type: "GET",
            dataType: "json",
            success: function (response) {
              console.log("Received data:", response);
              updateTasksSection(response.tasks);
              $('#task-details-panel').addClass('d-none');


              // Check if the current window width is 'sm' or smaller
              if (window.innerWidth < 768) {
                // Collapse the sidebar menu
                var sidebarMenu = $('#sidebarMenu');
                var bsCollapse = new bootstrap.Collapse(sidebarMenu, {
                  toggle: true
                });
                bsCollapse.hide(); // Hide the collapsible element
              }


            },
            error: function (xhr, status, error) {
              console.error("An error occurred while fetching tasks: " + error);
            },
          });
        });
        // Initial fetch and display of all tasks when the page is first loaded
        $.ajax({
          url: "{% url 'todos:get_all_tasks' %}",
          type: "GET",
          dataType: "json",
          success: function (response) {
            console.log("Received initial data:", response);
            updateTasksSection(response.tasks);
          },
          error: function (xhr, status, error) {
            console.error(
              "An error occurred while fetching initial tasks: " + error
            );
          },
        });

        //Start - Mark Complete Function
        $(document).on('click', '.complete-task', function(e) {
          var taskId = $(this).data("id");
          var taskRow = $("#task-" + taskId);
          var taskName = taskRow.find("td:first").text().trim(); // Assuming the first column is the task name
          var csrfToken = $('meta[name="csrf-token"]').attr("content");
          console.log("Task_id : " + taskId);
          console.log("Task_name : " + taskName);

          $.ajax({
            url: "{% url 'todos:complete_task' %}",
            type: "POST",
            data: {
              id: taskId,
              csrfmiddlewaretoken: csrfToken,
            },
            success: function (response) {
              if (response.completed) {
                //taskRow.css("text-decoration", "line-through");
                console.log("Clicked Complete : " + response.task_name)
                console.log("Task Id : " + response.task_id)

                if (response.task_completed) {
                    $(`#task-${response.id}.card-title`).addClass('strikethrough');
                } else {
                    $(`#task-${response.id}.card-title`).removeClass('strikethrough');
                }

                $("#success-message")
                  .text("Marked task Complete: " + response.task_name)
                  .show();
                setTimeout(function () {
                  $("#success-message").hide();
                }, 1000);
              }
            },
            error: function (xhr, status, error) {
              // Handle any error here
              console.error("Error in AJAX request:", status, error);
            },
          });
        });
        //End - Mark Complete Function

        //Mark Favorite Function
        $(document).on('click', '.mark-favorite', function(e) {
          var taskId = $(this).data("id");
          var taskRow = $("#task-" + taskId);
          var csrfToken = $('meta[name="csrf-token"]').attr("content");
          console.log("Mark Favorite Task_id : " + taskId);

          $.ajax({
            url: "{% url 'todos:mark_favorite' %}",
            type: "POST",
            data: {
              id: taskId,
              csrfmiddlewaretoken: csrfToken,
            },
            success: function (response) {
              var iconClass = response.Important
                ? "fa-sharp fa-solid fa-star"
                : "fa-sharp fa-regular fa-star";

              $("#favorite-icon-" + response.task_id).attr("class", iconClass);

              $("#success-message")
                .text("Marked task as a important: " + response.task_name)
                .show();
              setTimeout(function () {
                $("#success-message").hide();
              }, 5000);
            },
            error: function (xhr, status, error) {
              // Handle any error here
              console.error("Error in AJAX request:", status, error);
            },
          });
        });

        //Start - Add Task
        $(document).on("click", ".add-task-btn", function () {

          var listId = $("#current-list").data("list-id");
          if (listId === undefined) {
            listId = 1;
          }
          console.log("listid in Add Task Form : " + listId);
          // Load the form for adding a new task
          $("#taskModal").data("mode", "add");
          console.log(" Task Model Mode in Creat mode " , );
          $("#taskModal .modal-body").load("/todos/add/"+listId, function () {
            $("#taskModal").modal("show");
          });
        });
        //End - Add Task

        //Start - Edit Task
        $(document).on("click", ".edit-task-btn", function () {
          var taskId = $(this).data("id");
          $("#taskModal").data("mode", "edit");
          $("#taskModal").data("taskId", taskId); // Assuming taskId is the ID of the task being edited
          console.log(" Task Model Mode in Edit ");
          console.log($("#taskModal").data("mode")); // Test if the mode is set correctly
          console.log($("#taskModal").data("taskId")); // Test if the taskId is

          // Load the form for editing an existing task
          $("#taskModal .modal-body").load(
            "/todos/edit_task/" + taskId + "/",
            function () {
              $("#taskModal").modal("show");
            }
          );
        });

        //When Take Action is Clicked

        $(document).on('click', '.task-info-clickable', function() {
            var taskId = $(this).data('id');
            var taskId1 = $(this).attr('data-id');

            console.log("Clicked on task with Task Id **** : "+ taskId1);
            //console.log("Clicked on Row with Task Id : "+ taskId);

            url = "/todos/edit_task/" + taskId + "/";
            
            // Make an AJAX request to get the task details
            $.ajax({
              url: url,  
              type: 'GET',
              success: function(tasks) {
                console.log("In Success message for getting edit_task_panel")  
                $('#task-details-panel').removeClass('d-none');
                $('#task-details-panel').html(tasks);
                document.getElementById('task-middle-panel').classList.remove('col-lg-9');
                document.getElementById('task-middle-panel').classList.add('col-lg-6');

                if ($(window).width() < 768) { // 768px is generally considered the breakpoint for small devices
                  $('#tasks-section').toggleClass('d-none'); // Toggle the panel visibility
                  $('#back-button').removeClass('d-none');
                  $('#searchbar_row').addClass('d-none');
                 
                }

              },
              error: function(xhr, status, error) {
                console.log('Error fetching task details:', xhr.status);
                //console.log('Response text:', xhr.responseText);
            }
            });
        });

        //Start - Save Task
        $("#saveTask").click(function () {
          console.log("Saving Task function called");
          var mode = $("#taskModal").data("mode");
          var taskId = $("#taskModal").data("taskId");
          var tasksHtml = "";


          var url = "";
          console.log("Save Model Mode : " + mode);

          if (mode === "edit") {
            var taskId = $("#taskModal").data("taskId");
            url = "/todos/edit_task/" + taskId + "/";
          } else {
            // 'add' task mode
            url = "/todos/add/1/";
          }
          console.log(" Save URL :  " + url);
          var formData = new FormData($("#taskModal form")[0]);
          $.ajax({
            url: url, // The URL to submit the form data
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
              console.log("Success in Ajax Save Task : ");

              var newTask = response.new_task; // Modify according to your actual response structure
              console.log("Success from Save Task : " + newTask.task_name);

              addNewTasktoDisplay(newTask)

              if ($(window).width() < 768) { // 768px is generally considered the breakpoint for small devices
                console.log("Save Task in Small Screen")
                $('#task-details-panel').addClass('d-none');
             }
        
             console.log("Before Hiding Save Task Model");

              setTimeout(function () {
                $("#taskModal").modal("hide");
              }, 500); // Adjust the delay time as needed
              console.log("After Hiding Save Task Model");
  
            },
            error: function (xhr, status, error) {
              console.log("Ajax Function call back error in Save Task Function: " + error);
            },
          });
        });
        //End - Save Task
        //Edit Task Form from Side panel

        //sort task
        $('.sort-option').on('click', function(e) {

          e.preventDefault();
          console.log("In Sort Function")
          // Get the sort criterion from the data-sort attribute
          var sortCriterion = $(this).data('sort');
          console.log("Sorting by: " + sortCriterion);
          
          //var newOrder = currentOrder === "asc" ? "desc" : "asc";
          newOrder = "asc";
          
          var listId = $("#current-list").data("list-id");
          if (listId === undefined) {
            listId = 1;
          }
          console.log("list id while sortging : " + listId);

          // Perform an AJAX call with the selected sort criterion
          $.ajax({
            url: `/todos/get_tasks_by_list/${listId}/`,
            type: "GET",
            data: { sort: sortCriterion, order: newOrder },
            dataType: "json",
            success: function(response) {
                  // Handle successful response
                  console.log('Sorting successful:', response);
                  updateTasksSection(response.tasks);

                  // Update your page content based on the response
              },
              error: function(xhr, status, error) {
                  // Handle error
                  console.error('Sorting error:', error);
            }
          });
      });


        //Edit Task from Side Panel

      $(document).on('submit', '#edit-task-form', function(e) {
          console.log("Edit Task Save function called from Side Panel")
          e.preventDefault(); // Prevent default form submission
          var taskId = $(this).data('task-id'); // Retrieve the task ID
          url = "/todos/edit_task/" + taskId + "/";
  
          var formData = new FormData(this);
          var taskHtml ="";
          $.ajax({
              url: url, // or explicitly set URL
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                  // Handle success - update UI, show a message, etc.
                  console.log("Success from Save Task : " + response.task_name);
                  // Reload or update tasks on the page
                  taskHtml = `
                  <div id="task-${response.id}" class="card custom-hover-card clickable-card mb-3" style="margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);" data-task-id="${response.id}">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1">
                          <h6 class="card-title ${response.task_completed ? 'strikethrough' : ''}">
                            ${response.task_name}
                          </h6>
                          <p class="card-text text-muted">${formatDate(response.due_date)}</p>
                        </div>
                        <div class="row">
                          <div class="col-auto">
                            <a href="#" class="text-primary mark-favorite mr-2" data-id="${response.id}">
                              <i id="favorite-icon-${response.id}" class="${response.important ? "fa-sharp fa-solid fa-star" : "fa-sharp fa-regular fa-star"}"></i>
                            </a>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="mr-2 complete-task ${response.task_completed ? 'text-danger' : 'text-success'}" data-id="${response.id}">
                              <i class="fas fa-check fa-lg"></i>
                            </a>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="text-primary d-none edit-task-btn edit-task" data-id="${response.id}">
                              <i class="fas fa-edit fa-lg"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>`;
                   // Update the specific row
                  $("#task-" + response.task_id).html(taskHtml);
                  console.log("Updated Task Html");
              },
              error: function(xhr, status, error) {
                  // Handle error - show error message, etc.
              }
          });      
        });

      });

      $('#back-button').on('click', function() {
        $('#task-details-panel').addClass('d-none');
        $('#tasks-section').toggleClass('d-none'); // Toggle the panel visibility
        $('#back-button').addClass('d-none');
        $('#searchbar_row').removeClass('d-none');

      });
      // Add new task to existing UI
      function addNewTasktoDisplay(newTask) {
        newtaskHtml = `
        <div id="task-${newTask.id}" class="card custom-hover-card clickable-card mb-3" style="margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);" data-task-id="${newTask.id}">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <!-- Mark Complete -->
                <div class="flex-shrink-0 complete-task ${newTask.task_completed ? 'text-danger' : 'text-success'}" data-id="${newTask.id}">
                  <i id="completeicon-${newTask.id}" class="fas fa-check fa-lg" style="cursor: pointer;"></i>
                </div>
                
              <!-- Task Info -->
              <div class="flex-fill task-info-clickable ms-3" data-id="${newTask.id}">
                <h6 class="card-title ${newTask.task_completed ? 'strikethrough' : ''}">
                  ${newTask.task_name}
                </h6>
                <p class="card-text text-muted">${formatDate(newTask.due_date)}</p>
              </div>
              <!-- Important -->
              <div class="flex-shrink-0 mark-favorite" data-id="${newTask.id}">
                <i id="favorite-icon-${newTask.id}" class="${newTask.important ? "fa-sharp fa-solid fa-star" : "fa-sharp fa-regular fa-star"}"></i>
              </div>
            </div>
          </div>
        </div>`;
        $("#tasks-section").append(newtaskHtml); // Insert tasks into the table
      }

    </script>
    <script src="{% static 'todos/scripts/todos-script.js' %}"></script>
    {% endblock %}
  </div>
</div>
