{% extends 'todos/task_base.html' %}
{% load static %}
{% load todo_extras %}
{% block title %}To-Do List{% endblock %}

{% block additional_head %}
<meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}

{% block content %}

<input type="hidden" id="current-list" />

<div id="success-message" style="display: none" class="alert alert-success" role="alert"></div>

<div class="container-fluid">

  <div class="row">

      <!-- Hamburger Icon for smaller screens Start -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col col-auto d-block d-lg-none">
          <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-primary" aria-hidden="true" style="cursor: pointer;"></i>
          </button>
        </div>
  
      </nav>
      <!-- Hamburger Icon for smaller screens End -->

    <!-- Bootstrap Sidebar Start -->
    <nav id="sidebarMenu" class="col-md-2 d-md-block bg-light collapse">
        <ul class="nav flex-column">
          {% for tasklist in task_lists %}
          <li class="nav-item">
            <a href="#" class="nav-link task-list-item d-flex" data-id="{{ tasklist.id }}">
              <span class="icon-container me-2">
                {% if tasklist.special_list %}
                <i class="fa-solid fa-clipboard-list"></i>
                {% else %}
                <i class="fas fa-tasks"></i>
                {% endif %}
              </span>
              <span class="text-truncate"> {{ tasklist.list_name }} </span>
            </a>
            <div class="border-bottom"></div>
          </li>
          {% endfor %}
          <li class="nav-item task-list-item text-bold">
            <a
              href="{% url 'todos:create_task_list' %}"
              class="nav-link text-dark">
              <i class="fas fa-plus text-primary"></i>  Create List
            </a>
          </li>
        </ul>
    </nav>
    <!-- Bootstrap Sidebar End -->

    <main id="task-middle-panel" class="col-md-9">
      <!-- Search row Section Start-->
      <div id="searchbar_row">
        <!-- Search bar and Add Task button  -->
        <div class="row justify-content-between">
          <!-- Search box -->
          <div class="col"> <input class="form-control" id="search-task" type="text" placeholder="Search"/></div>
          <!-- Add Task icon -->
          <div class="col col-auto">
            <button class="btn btn-light add-task-btn" type="button">
              <i class="fa fa-plus-circle fa-2x text-primary" aria-hidden="true" style="cursor: pointer"></i>
            </button>
          </div>
          <!-- End Add Task -->

          <!-- Start Filter -->
          <div class="col-auto d-flex align-items-center">
            <label class="form-label me-1" title="Filter"><i class="fas fa-filter text-primary"></i></label>
            <select id="filters" class="form-select form-select-sm" style="width: auto">
              <option value="all">All</option>
              <option value="completed">Completed</option>
              <option value="past_due">Past Due</option>
            </select>
          </div>
            <!-- End Filter -->
          <!-- start Sort By -->
          <div class="col-auto d-flex align-items-center">
            <label class="form-label me-1" title="Sort By"><i class="fas fa-sort text-primary"></i></label>
            <select id="sort-by" class="form-select form-select-sm" style="width: auto">
              <option value="">No Sort</option>
              <option value="due_date">Due Date</option>
              <option value="important">Important</option>
            </select>
          </div>
          <!-- Start Sort By -->
        </div>
      </div>
      <!-- Search row Section End -->

      <!-- Task Cards Section -->
      <section id="tasks-section">
        <!-- Task cards will be dynamically inserted here -->
      </section>
    </main>

    <!-- Task Details Section -->
    <div id="task-details-panel" class="col-md-4 bg-light d-none">
      <!-- Task details will be loaded here -->
    </div>
        <!-- Back button visible only on small screens, outside the task-details-panel -->
    <button id="back-button" class="btn btn-secondary d-none mb-3">
      <i class="fas fa-arrow-left"></i> Back
    </button>
    
  </div>

  <!-- Task Modal -->
  <div
    class="modal fade"
    id="taskModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="taskModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Add Task</h5>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form content will be loaded here -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            id="saveTask"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %} {% block script_block %}
<script>
    $(document).ready(function () {
      console.log("In Document Ready Function");
      //Function to update Task Table. Called from various functions like search, sort, etc.
      function updateTasksSection(tasks) {
  const tasksHtml = tasks
    .map(
      (task) => `
        <div class="card custom-hover-card task-card mb-1 task-row" data-task-id="${
          task.id
        }">
            <div class="card-body d-flex p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Mark Complete -->
                    <div class="flex-shrink-0 me-3 complete-task ${
                      task.task_completed ? "text-danger" : "text-success"
                    }" data-id="${task.id}">
                        <i id="completeicon-${task.id}" class="fas fa-check fa-lg" style="cursor: pointer;"></i>
                    </div>

                    <!-- Task Info -->
                    <div class="d-flex align-items-start flex-column flex-grow-1">
                        <!-- Task Name -->
                        <h6 class="card-text ${
                          task.task_completed ? "strikethrough" : ""
                        }" style="font-size: 0.9rem;">
                            ${task.task_name}
                        </h6>
                        <!-- Due Date -->
                        <p class="card-text text-muted mb-0" style="font-size: 0.8rem;">
                            <i class="fas fa-calendar-alt me-1"></i> 
                            ${task.overdue ? `<span class="text-danger">Overdue</span>` : ""}
                            ${formatDate(task.due_date)}
                        </p>
                    </div>

                    <!-- Mark Favorite -->
                    <div class="flex-shrink-0 ms-auto mark-favorite" data-id="${task.id}">
                        <i id="favorite-icon-${task.id}" class="${
                          task.important
                            ? "fa-sharp fa-solid fa-star text-primary"
                            : "fa-sharp fa-regular fa-star"
                        }" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>
      `
    )
    .join("");
  $("#tasks-section").html(tasksHtml);
}

      function fetchTasks() {
        console.log("In Fetch Tasks function");
        fetch("/todos/get_all_tasks/")
          .then((response) => response.json())
          .then((data) => {
            updateTasksSection(data.tasks);
          });
      }
      //This function is called when the page loads
      fetchTasks();
      //This function is called when the user clicks on a task list
      $(".task-list-item").click(function () {
        var listId = $(this).data("id");
        console.log("list Id : " + listId);
        $("#current-list").data("list-id", listId);
        $(".task-list-item").removeClass("highlighted");
        this.classList.add("highlighted");

        $.ajax({
          url: `/todos/get_tasks_by_list/${listId}`,
          type: "GET",
          dataType: "json",
          success: function (response) {
            console.log("Received data:", response);
            updateTasksSection(response.tasks);
            $("#task-details-panel").addClass("d-none");

            if (window.innerWidth < 768) {
              var sidebarMenu = $("#sidebarMenu");
              var bsCollapse = new bootstrap.Collapse(sidebarMenu, {
                toggle: true,
              });
              bsCollapse.hide();
            }
          },
          error: function (xhr, status, error) {
            console.error("An error occurred while fetching tasks: " + error);
          },
        });
      });
      //This function is called when the user clicks on the complete icon
      $(document).on("click", ".complete-task", function (e) {
        var taskId = $(this).data("id");
        var taskRow = $("#task-" + taskId);
        var csrfToken = $('meta[name="csrf-token"]').attr("content");
        console.log("Task_id : " + taskId);

        $.ajax({
          url: "{% url 'todos:complete_task' %}",
          type: "POST",
          data: {
            id: taskId,
            csrfmiddlewaretoken: csrfToken,
          },
          success: function (response) {
            console.log("Clicked Complete : " + response.task_name);
            console.log("Task Id : " + response.task_id);

            if (response.task_completed) {
              $(`#task-${response.id} .card-text:first`).addClass(
                "strikethrough"
              );
            } else {
              $(`#task-${response.id} .card-text:first`).removeClass(
                "strikethrough"
              );
            }

            $(`#task-${response.id} .complete-task`).toggleClass(
              "text-danger text-success"
            );

            $("#success-message")
              .text("Marked task Complete: " + response.task_name)
              .show();
            setTimeout(function () {
              $("#success-message").hide();
            }, 1000);
          },
          error: function (xhr, status, error) {
            console.error("Error in AJAX request:", status, error);
          },
        });
      });
      //This function is called when the user clicks on the important icon
      $(document).on("click", ".mark-favorite", function (e) {
        var taskId = $(this).data("id");
        var csrfToken = $('meta[name="csrf-token"]').attr("content");
        console.log("Mark Favorite Task_id : " + taskId);

        $.ajax({
          url: "{% url 'todos:mark_favorite' %}",
          type: "POST",
          data: {
            id: taskId,
            csrfmiddlewaretoken: csrfToken,
          },
          success: function (response) {
            var iconClass = response.Important
              ? "fa-sharp fa-solid fa-star"
              : "fa-sharp fa-regular fa-star";

            $("#favorite-icon-" + response.task_id).attr("class", iconClass);

            $("#success-message")
              .text("Marked task as a important: " + response.task_name)
              .show();
            setTimeout(function () {
              $("#success-message").hide();
            }, 5000);
          },
          error: function (xhr, status, error) {
            console.error("Error in AJAX request:", status, error);
          },
        });
      });
      //This function is called when the user clicks on the add task button
      $(document).on("click", ".add-task-btn", function () {
        var listId = $("#current-list").data("list-id");
        if (listId === undefined) {
          listId = 1;
        }
        console.log("listid in Add Task Form : " + listId);
        $("#taskModal").data("mode", "add");
        console.log(" Task Model Mode in Creat mode ");
        $("#taskModal .modal-body").load("/todos/add/" + listId, function () {
          $("#taskModal").modal("show");
        });
      });
      //This function is called when the user clicks on the task info
      $(document).on("click", ".task-row", function () {
        var taskId = $(this).data("task-id");
        console.log("Clicked on task row with Task Id : " + taskId);

        url = "{% url 'todos:edit_task' 999 %}".replace("999", taskId);

        $.ajax({
          url: url,
          type: "GET",
          success: function (tasks) {
            console.log("In Success message for getting edit_task_panel");
            $("#task-details-panel").removeClass("d-none");
            $("#task-details-panel").html(tasks);
            document
              .getElementById("task-middle-panel")
              .classList.remove("col-md-9");
            document
              .getElementById("task-middle-panel")
              .classList.add("col-md-6");

            if ($(window).width() < 768) {
              $("#tasks-section").toggleClass("d-none");
              $("#back-button").removeClass("d-none");
              $("#searchbar_row").addClass("d-none");
            }
          },
          error: function (xhr, status, error) {
            console.log("Error fetching task details:", xhr.status);
          },
        });
      });
      //This function is called when the user clicks on the save task button in Create Task Form
      $("#saveTask").click(function () {
        console.log("Saving Task function called");
        var mode = $("#taskModal").data("mode");
        var taskId = $("#taskModal").data("taskId");
        var tasksHtml = "";

        var url = "";
        console.log("Save Model Mode : " + mode);

        if (mode === "edit") {
          var taskId = $("#taskModal").data("taskId");
          url = "/todos/edit_task/" + taskId + "/";
        } else {
          url = "/todos/add/1/";
        }
        console.log(" Save URL :  " + url);
        var formData = new FormData($("#taskModal form")[0]);
        $.ajax({
          url: url,
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            console.log("Success in Ajax Save Task : ");

            var newTask = response.new_task;
            console.log("Success from Save Task : " + newTask.task_name);

            addNewTasktoDisplay(newTask);

            if ($(window).width() < 768) {
              console.log("Save Task in Small Screen");
              $("#task-details-panel").addClass("d-none");
            }

            console.log("Before Hiding Save Task Model");

            setTimeout(function () {
              $("#taskModal").modal("hide");
            }, 500);
            console.log("After Hiding Save Task Model");
          },
          error: function (xhr, status, error) {
            console.log(
              "Ajax Function call back error in Save Task Function: " + error
            );
          },
        });
      });
      //This function is called when the user types in the search bar
      function doSearch() {
        console.log("Java Script : In doSearch Function ");
        const query = document.getElementById("search-task").value;
        const filter = document.getElementById("filters").value;
        const sortBy = document.getElementById("sort-by").value;

        console.log("Query : " + query);
        console.log("Filter : " + filter);
        console.log("Sort By : " + sortBy);


        // 1. Correct way to create URL object.
        const url = new URL(
          window.location.origin + "{% url 'todos:search_tasks' %}"
        );

        url.searchParams.set("q", query);

        //Filter data
        if (filter) url.searchParams.set("filter", filter);
        
        //Sort data
        if (sortBy) url.searchParams.set("sort_by", sortBy);

        console.log("URL : " + url);


        $.ajax({
          // 2. Use URL object
          url: url,
          dataType: "json",
          success: function (response) {
            console.log("Received Search data:", response);

            if (response.tasks.length === 0) {
              // Display a "No tasks found" message if there are no tasks
              $("#tasks-section").html("<p>No tasks found.</p>");
            } else {
              // Update the tasks section with the search results
              updateTasksSection(response.tasks);
            }
          },
          error: function (xhr, status, error) {
            console.error("Error occurred: " + error);
          },
        });
      }

      document.getElementById("search-task").addEventListener("input", doSearch);
      document.getElementById("filters").addEventListener("change", doSearch);
      document.getElementById("sort-by").addEventListener("change", doSearch);


      //  This function is called when the user clicks submit buttion on edit task form
      $(document).on("submit", "#edit-task-form", function (e) {
        console.log("Edit Task Save function called from Side Panel");
        e.preventDefault();
        var taskId = $(this).data("task-id");
        url = "/todos/edit_task/" + taskId + "/";

        var formData = new FormData(this);
        var taskHtml = "";
        $.ajax({
          url: url,
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            console.log("Success from Save Task : " + response.task_name);
            taskHtml = ` <div id="task-${response.id }"
                              class="card custom-hover-card clickable-card task-card mb-1" data-task-id="${response.id}">
                              <div class="card-body p-2">
                                <div class="d-flex justify-content-between align-items-center">
                                  <!-- Mark Complete -->
                                    <div class="flex-shrink-0 me-3 complete-task ${
                                      response.task_completed
                                        ? "text-danger"
                                        : "text-success"
                                    }" data-id="${response.id}">
                                      <i id="completeicon-${
                                        response.id
                                      }" class="fas fa-check fa-lg" style="cursor: pointer;"></i>
                                    </div>
                                    
                                  <!-- Task Info -->
                                  <div class="flex-fill task-info-clickable mb-0 ms-3" data-id="${
                                    response.id
                                  }">
                                    <h6 class="card-text ${
                                      response.task_completed
                                        ? "strikethrough"
                                        : ""
                                    }" style="font-size: 0.9rem;">
                                      ${response.task_name}
                                    </h6>
                                    <p class="card-text text-muted mb-0" style="font-size: 0.8rem;">${formatDate(
                                      response.due_date
                                    )}</p>
                                  </div>
                                  
                                  <!-- Important -->
                                  <div class="flex-shrink-0 mark-favorite" data-id="${
                                    response.id
                                  }">
                                    <i id="favorite-icon-${
                                      response.id
                                    }" class="${
              response.important
                ? "fa-sharp fa-solid fa-star"
                : "fa-sharp fa-regular fa-star"
            }"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                             `;
            $("#task-" + response.task_id).replaceWith(taskHtml);
            console.log("Updated Task Html");
            $("#task-details-panel").addClass("d-none");
            $("#task-middle-panel").removeClass("col-md-6");
            $("#task-middle-panel").addClass("col-md-9");
          },
          error: function (xhr, status, error) {},
        });
      });
      //This function is called when the user clicks on the back button
      $("#back-button").on("click", function () {
        $("#task-details-panel").addClass("d-none");
        $("#tasks-section").toggleClass("d-none");
        $("#back-button").addClass("d-none");
        $("#searchbar_row").removeClass("d-none");
      });
      //This function is called when the user clicks on the filter option
      function addNewTasktoDisplay(newTask) {
        newtaskHtml = `
                  <div id="task-${
                    newTask.id
                  }" class="card custom-hover-card clickable-card task-card mb-1" data-task-id="${
          newTask.id
        }">
                  <div class="card-body p-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <!-- Mark Complete -->
                        <div class="flex-shrink-0 me-3 complete-task ${
                          newTask.task_completed
                            ? "text-danger"
                            : "text-success"
                        }" data-id="${newTask.id}">
                          <i id="completeicon-${
                            newTask.id
                          }" class="fas fa-check fa-lg" style="cursor: pointer;"></i>
                        </div>
                        
                      <!-- Task Info -->
                      <div class="flex-fill task-info-clickable mb-0 ms-3" data-id="${
                        newTask.id
                      }">
                        <h6 class="card-text ${
                          newTask.task_completed ? "strikethrough" : ""
                        }" style="font-size: 0.9rem;">
                          ${newTask.task_name}
                        </h6>
                        <p class="card-text text-muted mb-0" style="font-size: 0.8rem;">${formatDate(
                          newTask.due_date
                        )}</p>
                      </div>
                      
                      <!-- Important -->
                      <div class="flex-shrink-0 mark-favorite" data-id="${
                        newTask.id
                      }">
                        <i id="favorite-icon-${newTask.id}" class="${
          newTask.important
            ? "fa-sharp fa-solid fa-star"
            : "fa-sharp fa-regular fa-star"
        }"></i>
                      </div>
                    </div>
                  </div>
                </div>
                  `;
        $("#tasks-section").append(newtaskHtml);
      }
    });
</script>
<script src="{% static 'todos/scripts/todos-script.js' %}"></script>
{% endblock %}