.vertical-scroll {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}

.task-list-item:hover {
  background-color: #f8f9fa; /* Light gray background on hover */
  color: #0056b3; /* Change text color on hover */
  text-decoration: none; /* Removes underline from links */
  border-radius: 0.25rem; /* Optional: rounds the corners */
}

.strikethrough {
  text-decoration: line-through;
}

.custom-hover-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.expandable {
  height: 3rem; /* Set a smaller initial height */
  transition: height 0.5s; /* Smooth transition for height change */
}

.expandable:focus {
  height: 10rem; /* Increase height when the text area is focused */
}

.panel-shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); /* Adjust the values to get the desired depth */
}

.highlighted {
  background-color: #007bff; /* Bootstrap primary blue for example */
  color: white; /* Ensure text is readable on the highlight background */
}

