
{% extends 'base.html' %} 
{% load todo_extras %}
{% block title %}To-Do List{% endblock %}

{% block additional_head %}
<meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}

{% block content %}
<input type="hidden" id="current-list" />
<div id="success-message" style="display: none"></div>
<hr class="hr" />
<hr class="hr hr-blurry" />

  <div class="container-fluid">
    <table id="task-table" class="table table-hover w-100">
      <thead class="thead-dark">
        <tr>
          <th class="sortable" data-sort="important">
            <i class="fas fa-sort" style="margin-right: 5px"></i
            >Important
          </th>
          <th>Task Name</th>
          <th>Description</th>
          <th class="sortable" data-sort="due_date">
            <i class="fas fa-sort" style="margin-right: 5px"></i>Due
            Date
          </th>
          <th>Completed</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>

        {% for tasklist in task_lists %}
        <li class="nav-item">
          <a
            href="#"
            class="nav-link task-list-item"
            data-id="{{ tasklist.id }}">
            
            {% if tasklist.special_list %}
            <i class="fa fa-camera-retro"></i>  <!-- This icon shows otherwise -->
            {% else %}
                <i class="fas fa-tasks"></i>  <!-- This icon shows if it's a special list -->
            {% endif %}
        
            
            {{ tasklist.list_name }}
          </a>
        </li>
        {% endfor %}      </tbody>
    </table>
  </div>


    {% endblock %} 
    {% block script_block %}
    <script>
      $(document).ready(function () {
        console.log("In Document Ready Function");
 
        // Function to update the task table
        function updateTaskTable(tasks) {
          var tasksHtml = "";
          tasks.forEach(function (task) {
            console.log(" Task id :"  + task.id);
            console.log(" Task Completed : " + task.task_completed)
            tasksHtml +=
              '<tr id="task-' +
              task.id + '" data-task-id="'+task.id +
              '">' +
              '<td><a href="#" class="text-primary mark-favorite" data-id="' +
              task.id +
              '">' +
              '<i id="favorite-icon-' +
              task.id +
              '" class="' +
              (task.important
                ? "fa-sharp fa-solid fa-star"
                : "fa-sharp fa-regular fa-star") +
              '"></i></a></td>' +
              '<td class="' +
              (task.task_completed ? "strikethrough" : "") +
              '">' +
              task.task_name +
              "</td>" +
              "<td>" +
              task.task_description +
              "</td>" +
              "<td>" +
              formatDate(task.due_date) +
              "</td>" +
              '<td><a href="#" class="text-success complete-task" data-id="' +
              task.id +
              '">' +
              '<i class="fas fa-check fa-lg"></i></a></td>' +
              '<td><a href="#" class="text-primary edit-task-btn edit-task" data-id="' +
              task.id +
              '">' +
              '<i class="fas fa-edit fa-lg"></i></a></td>' +
              "</tr>";
          });
          $("#task-table tbody").html(tasksHtml); // Insert tasks into the table
        }
        //Start pagination
        function updatePaginationButtons(currentPage, totalPages) {
          // Disable 'Previous' button if on the first page
          if (currentPage <= 1) {
            $("#prev-page").prop("disabled", true);
          } else {
            $("#prev-page").prop("disabled", false);
          }

          // Disable 'Next' button if on the last page
          if (currentPage >= totalPages) {
            $("#next-page").prop("disabled", true);
          } else {
            $("#next-page").prop("disabled", false);
          }
        }

        function fetchTasks(page) {
          fetch("/todos/get_all_tasks?page=" + page)
            .then((response) => response.json())
            .then((data) => {
              updateTaskTable(data.tasks); // Function to update the table with new data

              $("#current-page").text(data.current_page); // Update current page text
              // Update the state of pagination buttons
              updatePaginationButtons(data.current_page, data.total_pages);
            });
        }
        // Initial fetch for page 1
        fetchTasks(1);
        $("#prev-page").click(function () {
          var currentPage = parseInt($("#current-page").text());
          if (currentPage > 1) {
            fetchTasks(currentPage - 1);
          }
        });

        $("#next-page").click(function () {
          var currentPage = parseInt($("#current-page").text());
          fetchTasks(currentPage + 1);
        });
        // end Pagination

        //Live Search Tasks
        $("#search-task").on("keyup", function () {
          var searchTerm = $(this).val();

          $.ajax({
            url: "{% url 'todos:search_tasks' %}", // URL to the Django view
            data: { q: searchTerm },
            dataType: "json",
            success: function (response) {
              console.log("Received Search data:", response);
              updateTaskTable(response.tasks);
              if (response.tasks && Array.isArray(response.tasks)) {
                response.tasks.forEach(function (task) {
                  console.log("Response has tasks and its an arry");
                });
              } else {
                console.error("Tasks is not an array:", response.tasks);
              }
            },
            error: function (xhr, status, error) {
              console.error("Error occurred: " + error);
            },
          });
        });

        // Fetch and display tasks for a specific list
        $(".task-list-item").click(function () {
          var listId = $(this).data("id");
          console.log("list Id : " + listId);
          $("#current-list").data("list-id", listId); // Store the current list ID

          $.ajax({
            url: `/todos/get_tasks_by_list/${listId}`,
            type: "GET",
            dataType: "json",
            success: function (response) {
              console.log("Received data:", response);
              updateTaskTable(response.tasks); // Call function to update table
            },
            error: function (xhr, status, error) {
              console.error("An error occurred while fetching tasks: " + error);
            },
          });
        });
        // Initial fetch and display of all tasks when the page is first loaded
        $.ajax({
          url: "{% url 'todos:get_all_tasks' %}",
          type: "GET",
          dataType: "json",
          success: function (response) {
            console.log("Received initial data:", response);
            updateTaskTable(response.tasks);
          },
          error: function (xhr, status, error) {
            console.error(
              "An error occurred while fetching initial tasks: " + error
            );
          },
        });

        //Start - Task Table Actions
        //Start - Mark Complete Function
        $("#task-container").on("click", ".complete-task", function () {
          var taskId = $(this).data("id");
          var taskRow = $("#task-" + taskId);
          var taskName = taskRow.find("td:first").text().trim(); // Assuming the first column is the task name
          var csrfToken = $('meta[name="csrf-token"]').attr("content");
          console.log("Task_id : " + taskId);
          console.log("Task_name : " + taskName);

          $.ajax({
            url: "{% url 'todos:complete_task' %}",
            type: "POST",
            data: {
              id: taskId,
              csrfmiddlewaretoken: csrfToken,
            },
            success: function (response) {
              if (response.completed) {
                taskRow.css("text-decoration", "line-through");
                $("#success-message")
                  .text("Deleted task: " + taskName)
                  .show();
                setTimeout(function () {
                  $("#success-message").hide();
                }, 5000);
              }
            },
            error: function (xhr, status, error) {
              // Handle any error here
              console.error("Error in AJAX request:", status, error);
            },
          });
        });
        //End - Mark Complete Function

        //Mark Favorite Function
        $("#task-container").on("click", ".mark-favorite", function () {
          var taskId = $(this).data("id");
          var taskRow = $("#task-" + taskId);
          var csrfToken = $('meta[name="csrf-token"]').attr("content");
          console.log("Mark Favorite Task_id : " + taskId);

          $.ajax({
            url: "{% url 'todos:mark_favorite' %}",
            type: "POST",
            data: {
              id: taskId,
              csrfmiddlewaretoken: csrfToken,
            },
            success: function (response) {
              var iconClass = response.Important
                ? "fa-sharp fa-solid fa-star"
                : "fa-sharp fa-regular fa-star";

              $("#favorite-icon-" + response.task_id).attr("class", iconClass);

              $("#success-message")
                .text("Marked task as a important: " + response.task_name)
                .show();
              setTimeout(function () {
                $("#success-message").hide();
              }, 5000);
            },
            error: function (xhr, status, error) {
              // Handle any error here
              console.error("Error in AJAX request:", status, error);
            },
          });
        });

        //Mark Favorite Function

        //Start - Add Task
        $(document).on("click", ".add-task-btn", function () {
          // Load the form for adding a new task
          $("#taskModal").data("mode", "add");
          console.log(" Task Model Mode in Create ");
          console.log($("#taskModal").data("mode")); // Test if the mode is set correctly
          $("#taskModal .modal-body").load("/todos/add/", function () {
            $("#taskModal").modal("show");
          });
        });
        //End - Add Task

        //Start - Edit Task
        $(document).on("click", ".edit-task-btn", function () {
          var taskId = $(this).data("id");
          $("#taskModal").data("mode", "edit");
          $("#taskModal").data("taskId", taskId); // Assuming taskId is the ID of the task being edited
          console.log(" Task Model Mode in Edit ");
          console.log($("#taskModal").data("mode")); // Test if the mode is set correctly
          console.log($("#taskModal").data("taskId")); // Test if the taskId is

          // Load the form for editing an existing task
          $("#taskModal .modal-body").load(
            "/todos/edit_task/" + taskId + "/",
            function () {
              $("#taskModal").modal("show");
            }
          );
        });

        //Panel Edit Task
        $('#task-container tbody').on('click', 'tr', function() {
          // Get the task ID from the clicked row
          var taskId = $(this).data('task-id');
          console.log("Clicked on Row with Task Id : "+ taskId);
          url = "/todos/edit_task/" + taskId + "/";

          
          // Make an AJAX request to get the task details
          $.ajax({
            url: url,  
            type: 'GET',
            success: function(tasks) {
              console.log("In Success message for getting edit_task_panel")  
              $('#task-details-panel').html(tasks);
            },
            error: function(xhr, status, error) {
              console.log('Error fetching task details:', xhr.status, xhr.statusText);
              console.log('Response text:', xhr.responseText);
          }
          });
        });
        //Start - Save Task
        $("#saveTask").click(function () {
          console.log("Saving Task function called");
          var mode = $("#taskModal").data("mode");
          var taskId = $("#taskModal").data("taskId");

          var url = "";
          console.log("Save Model Mode : " + mode);

          if (mode === "edit") {
            var taskId = $("#taskModal").data("taskId");
            url = "/todos/edit_task/" + taskId + "/";
          } else {
            // 'add' mode
            url = "/todos/add/";
          }
          console.log(" Save URL :  " + url);
          var formData = new FormData($("#taskModal form")[0]);
          $.ajax({
            url: url, // The URL to submit the form data
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
              // Handle success (e.g., close the modal, update the task list on the page)
              console.log("Success from Save Task : " + response.task_name);
              // Reload or update tasks on the page
              var updatedRowHtml =
                '<td><a href="#" class="text-primary mark-favorite" data-id="' +
                response.task_id +
                '">' +
                '<i id="favorite-icon-' +
                response.task_id +
                '" class="' +
                (response.important
                  ? "fa-sharp fa-solid fa-star"
                  : "fa-sharp fa-regular fa-star") +
                '"></i></a></td>' +
                '<td class="' +
                (response.task_completed ? "strikethrough" : "") +
                '">' +
                response.task_name +
                "</td>" +
                "<td>" +
                response.task_description +
                "</td>" +
                "<td>" +
                formatDate(response.due_date) +
                "</td>" +
                '<td><a href="#" class="text-success complete-task" data-id="' +
                response.task_id +
                '">' +
                '<i class="fas fa-check fa-lg"></i></a></td>' +
                '<td><a href="#" class="text-primary edit-task-btn edit-task" data-id="' +
                response.task_id +
                '">' +
                '<i class="fas fa-edit fa-lg"></i></a></td>';

              // Update the specific row
              $("#task-" + response.task_id).html(updatedRowHtml);
              console.log("Updated TashHtml");
              setTimeout(function () {
                $("#taskModal").modal("hide");
              }, 500); // Adjust the delay time as needed
              console.log("After Hiding Save Task Model");
            },
            error: function (xhr, status, error) {
              console.log("Ajax Function call back error : " + error);
            },
          });
        });
        //End - Save Task
        //Edit Task Form from Side panel

        
        $(".sortable").click(function () {
          var sortBy = $(this).data("sort");
          console.log(" Sort Tasks Function :  " + sortBy);

          sortTasks(sortBy);
        });
        //Start - Sort Task Table
        function sortTasks(sortBy) {
          // Get the current order and toggle it
          console.log("Inside Cosole Log : Sort By : " + sortBy);

          var currentOrder = $(`th[data-sort='${sortBy}']`).attr("data-order");
          var newOrder = currentOrder === "asc" ? "desc" : "asc";
          var listId = $("#current-list").data("list-id");

          if (listId === undefined) {
            listId = 1;
          }
          console.log("list id while sortging : " + listId);
          // Update the data-order attribute
          $(`th[data-sort='${sortBy}']`).attr("data-order", newOrder);

          $.ajax({
            url: `/todos/get_tasks_by_list/${listId}/`,
            type: "GET",
            data: { sort: sortBy, order: newOrder },
            dataType: "json",
            success: function (response) {
              updateTaskTable(response.tasks);
              // Update other necessary components
            },
            error: function (xhr, status, error) {
              console.error("Error in sorting tasks:", error);
            },
          });
        }
        //Edit Task from Side Panel

        $(document).on('submit', '#edit-task-form', function(e) {
          console.log("Edit Task Save function called from Side Panel")
          e.preventDefault(); // Prevent default form submission
          var taskId = $(this).data('task-id'); // Retrieve the task ID
          url = "/todos/edit_task/" + taskId + "/";
  
          var formData = new FormData(this);
          $.ajax({
              url: url, // or explicitly set URL
              type: 'POST',
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                  // Handle success - update UI, show a message, etc.
              },
              error: function(xhr, status, error) {
                  // Handle error - show error message, etc.
              }
          });      });

      });

      function formatDate(dateString) {
        const months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec",
        ];
        const date = new Date(dateString);
        const day = date.getDate();
        const monthIndex = date.getMonth();
        const year = date.getFullYear().toString().substr(-2); // Get last two digits of the year

        return `${day}-${months[monthIndex]}-${year}`;
      }

    </script>

    {% endblock %}
  </div>
</div>
