{% extends 'core/base.html' %}
{% load static %}
{% block title %}Using AI Dashboard{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">  <div class="col-md-6 col-lg-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="fas fa-tasks fa-2x mb-2"></i>
          <h5 class="card-title">My Tasks</h5>
          <p class="card-text">Manage your tasks</p>
          <a href="{% url 'task_management:get_lists' %}" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="fas fa-chart-line fa-2x mb-2"></i>
          <h5 class="card-title">Stocks</h5>
          <p class="card-text">Manage your portfolio</p>
          <a href="{% url 'stocks:stock_list' %}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">  <div class="col-md-6 col-lg-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="fas fa-chart-bar fa-2x mb-2"></i>
          <h5 class="card-title">S&P Return</h5>
          <p class="card-text">Analyze market performance</p>
          <a href="{% url 'spreturn:spreturn' %}" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="fas fa-plane fa-2x mb-2"></i>
          <h5 class="card-title">Travel</h5>
          <p class="card-text">Explore travel deals</p>
          <a href="{% url 'travel:travel' %}" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}