
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
          <a class="navbar-brand  text-white" href="#" style="padding-left: 10px;">Samaan Apps</a>
    <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}

      <div class="dropdown" style="padding-right: 30px; ">
        <a
          href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
          <strong>{{user.username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>  
          <li><hr class="dropdown-divider" /></li>
          <li class="nav-item">
            <a href="{% url 'account_logout' %}" class="nav-link white-nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>    
          </li>
           <li> <a href="{% url 'todos:create_task_list' %}"  class="nav-link white-nav-link" > <i class="fas fa-tasks"></i>  Add List</a> </li>
        </ul>
      </div>

      {% else %}
      <li class="nav-item">
        <a href="{% url 'account_login' %}" class="nav-link white-nav-link"
          >Login</a
        >
      </li>
      {% endif %}


    </ul>
  </nav>
