.login-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align children at the start of the container */
  align-items: center;
  min-height: 100vh;
  padding-top: 56px; /* Same as above, ensures content starts below the header */
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

/* If needed, apply specific top margin to the icon+text row */
.login-background .col-8 {
  margin-top: 0px; /* Adjust this as necessary */
  margin-bottom: 15rem; /* This adds some space below the icon+text row */
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f8f9fa;
}

.container {
  padding-top: 30px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}