.inline-heading {
    display: inline-block;
    margin-left: 10px;
}

.vertical-scroll {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling if content overflows */
}